@model BankAccountDB.Concrete.Entities.BasicAccount

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<h2>Create Person</h2>
@Html.ValidationSummary(false, "Please ensure all fields are valid.")
@using (Html.BeginForm("Edit", "BasicAccount"))
{

    @Html.EditorForModel()

    <button type="submit">
        Submit
    </button>
}